@import "../../../variables.scss";

.editor-input-area {
  overflow: hidden;
  height: 100%;
  
}
.editor-input-area__content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color:white;

}
.editor-input-area__content__input {
  padding-top: 8%;
  border: none;
  font-family: Catamaran;
  font-size: 25px;
}
[contenteditable] {
  outline: 10px solid transparent;
  flex: 1;
  word-wrap: break-word;
  word-break: break-all;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 20px;
}
