.allNotes {
  height: 100%;
  flex-basis: 40%;
  display: flex;
  flex-direction:column;
  position: relative;
  background-color: #f0f0f0;
  &__content {
    height:100%;
    overflow-y: scroll;
    &:hover {    
      &::-webkit-scrollbar-thumb {
        background-color: #808080; 
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #f0f0f0;
      
    }
  }
}
