@import "../../variables.scss";
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
$background-gradient: linear-gradient(
  to right top,
  #053726,
  #003231,
  #002b39,
  #00233c,
  #051937
);
.login {
  height: auto;
  display: flex;
  background-image: url("/images/loginScreen/Screenshot from 2020-09-27 17-09-16.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-wrap: row wrap;
  flex-basis: 100%;
  /* don't forget to set a duration! */

  
}
.login__input-area {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color:white;
  background-color: #f6fedb;
  border-radius: 5px;
  box-shadow: -7px 10px 24px -1px rgba(173, 101, 101, 0.5);
  background: rgba(219, 22, 47, 0.4);
  order: 2;

  #{&}__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    width: 70%;

  }
  #{&}__header__tagline {
    margin-top: -4vw;
    color: white;
  }
  #{&}__header__tagline > p:nth-child(1) {
    font-size: 2.5vw;
    font-family: $Catamaran;
  }
  #{&}__header__tagline > p:nth-child(2) {
    font-size: 1.5vw;
    font-family: $Raleway;
    margin-top: -3vw;
  }
  #{&}__logo {
    display: block;
    box-sizing: border-box;
    width: 12vw;
  }
  #{&}__content{
    animation-duration: 2s;
    width: 70%;
    

  }
}

.login_tag-line {
  order: 1;
  height: 100%;
  color: whitesmoke;
  font-size: 5vw;
  font-family: $Raleway;
  font-weight: 500;
  flex-basis: 65%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(5, 25, 55, 0.7);
  padding-top: 10%;
  padding-left: 5%;
}
.ant-input,.ant-input-affix-wrapper{
  border: none;
  background:rgba(219, 22, 47, 0.01);
  font-family:$Raleway;
  color: white;
  width: 100%;
  outline: 0$imp;
}
.ant-input-affix-wrapper{
  outline: none $imp;

  border-bottom:1px solid white $imp;
  &:focus{
    outline: 0 $imp;
  }
  &:active{
    outline: 0 $imp;
  }

}

.form-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: $Raleway;
  padding-top: 2vh;

  #{&}__explanation{
      font-size: 15px;
  }
  #{&}__link{
    font-size: 18px;
  }
}

.ant-btn{
  border: none;
  font-family: $Catamaran;
  background: #B74639 $imp;
  box-shadow: -7px 10px 24px -1px rgba(0, 0, 0, 0.9);
  color:white;
  height: 5.5vh;
  &:hover{
    border: none;
    background:none;
  }

  
}
.ant-form-item-explain{
  color: white $imp;
  font-family: $Raleway;
  text-align: left $imp;
  font-size: 1vw;

}
.ant-form-item-control-input,.ant-form-item-control,input,.ant-form-item-control-input-content{
  outline: 0 $imp;
  &:focus{
    outline: 0 $imp;
  }
  &:active{
    outline: 0 $imp;
  }
}





