.EditorControlBox {
    $boxshadow:(0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12));
    $borderRadius:5px;
    box-shadow: $boxshadow;
    min-height: 20px;
    width: 55vw;
    margin: 10px auto;
    background: white;
    border-radius:$borderRadius
  }
  .Editor-Text-Container{
    margin-left: 450px;
    width:65%;
  }
  .card {
    border-radius: 2px;
    // display: inline-block;
    // margin: 1rem;
    // position: relative;
    min-height:500px;
    width:100%;
  }
  [contenteditable] {
    outline: 10px solid transparent;
    overflow-wrap: break-word;
    overflow-x: hidden;    
  }
  .Alata{
    font-family: 'Alata', sans-serif;
  }
  .subMenu_FontIcon{
    float: right;
    margin-top: 15px;
    margin-left: 3px;
  }
   #wrapper { 
  position:relative;
  background:#CCC;
  width:960px;
  height:600px;
  margin:0 auto;
  overflow:hidden;
} 

.draggable {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #EEE;
  border: 1px solid #AAA;
  cursor:move;
}

// .draggable > img {
//   max-width:100%;
//   width:100%;
//   height:auto;
// }

// .draggable > span{
//     position:absolute;
//     bottom:-15px;
//     left:36%;
//     cursor:pointer;
//     font-size:11px;
// }

// .resize-handle {
//   position: absolute;
//   width: 0px;
//   height: 0px;
//   margin-top: -17px;
//   margin-left: -17px;
//   border-style: solid;
//   border-width: 0 0 16px 16px;
//   border-color: transparent transparent #AAA transparent;
//   cursor: nw-resize !important;
// }
 