.card {
    border-radius: 2px;
    // display: inline-block;
    // margin: 1rem;
    // position: relative;
    min-height:300px;
    width:100%;
  
  }
  [contenteditable] {
    outline: 10px solid transparent;
    overflow-wrap: break-word;
    overflow-x: hidden;
    // height:100%;
    
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }