@import "../../variables.scss";
$notes_bgColor:#EFFFFA;
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
.notes {
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 5px;
  border-bottom: 1px solid 	#D3D3D3;
  background-color:$notes_bgColor;
  font-family: "Lora", serif;

  #{&}__header {  
    color: red($color: #000000);
    font-size: 15px;
    font-weight:700;    
  }

  #{&}__content {
    margin-top: 15px;
    position: absolute;
    padding-bottom: 20px;
    color:#53917E;
    font-weight: 100px;
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor:$notes_bgColor);  

  }
  #{&}__footer {
    color:#53917E;
    font-size: 15px;
    font-weight: 500px;
  }
}
