@import "../../../../variables.scss";
$notes_bgColor:	#F0F0F0	;
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
.notes {
  padding:20px 30px 20px 15px ;
  border-bottom: 1px solid 	#D3D3D3;
  background-color:$notes_bgColor;
  transition-timing-function: ease-in-out;
  transition: border 3s,background 3s;
  font-family:$Raleway;

  #{&}__header {  
    color: red($color: #000000);
    font-size: 15px;
    font-weight:500;    
  }

  #{&}__content {
    margin-top: 15px;
    position: absolute;
    padding-bottom:20px;
    color:#53917E;
    font-weight:400px;
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor:$notes_bgColor);  

  }
  #{&}__footer {
    color:#53917E;
    font-size: 13px;
    font-weight:100px;
  }
}
