 body{
    height: 100vh;   
    overflow: hidden; 
    margin: 0px;

  
}
/*
.appContainer{
    display: flex;
    height: 100%;
    width: 100%;
} */
/* html, body {
    height: 100vh;
    margin: 0;
    border: 2px solid red;
  } */
