.card {
  border-radius: 2px;
  min-height: 500px;
  padding-top: 100px; 

  
}
  [contenteditable] {
    outline: 10px solid transparent;
    overflow-wrap: break-word;
    overflow-x: hidden;
    background-color: white;
    padding-bottom: 100%;
    padding-left:20px;
    padding-right: 20px;
    
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }